.pendinmatrisin-pro-image {
  width: 150px;
}

.pendinmatrisin-pro-image-span {
  margin-left: 20px;
  margin-bottom: 20px;
}

.pendingmatrisin-delete-button {
  color: white;
  background-color: red;
  border: none;
  font-size: large;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
  margin-left: 10px;
}

.pendingmatrisin-approve-button {
  color: white;
  background-color: green;
  border: none;
  font-size: large;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
  margin-left: 10px;
}

.pendingmatrisin-Del-button{
  color: white;
  background-color: red;
  border: none;
  font-size: large;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px gray;
  margin-left: 10px;
}

.pendingmatrisin-name-title {
  color: white;
  background-color: red;
  padding: 5px;
  font-size: large;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin: 0px 10px;
  border-radius: 10px;
}

.pendingmatrisin-main-div {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 2px;
  padding: 20px 0px;
}

.pendingmatrisin-label-span {
  font-size: 15px;
  font-weight: 500;
  color: red;
  letter-spacing: 1px;
}

.pendingmatrisin-input-span {
  font-size: 15px;
  font-weight: 500;
  color: black;
  letter-spacing: 1px;
}

@media screen and (max-width: 430px) {
  .pendingmatrisin-input-span {
    font-size: 12px;
  }

  .pendingmatrisin-label-span {
    font-size: 12px;
  }

  .pendinmatrisin-pro-image-span {
    flex-direction: column;
  }
  .pending-aprove-button-div{
    margin-bottom: 120px;
  }
}
